// * ------------------------------------
// * Global-scope variables, mixins, etc.
// * ------------------------------------
@charset 'UTF-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

// ====== //
// Mixins //
// ====== //

// Uniform header / footer CSS
@mixin hdrftr {
  background-color: $light-site-hdrftr-bgcolor;
  color: $light-site-hdrftr-fontcolor;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

//========== //
// Variables //
//========== //

// Structure
$site-border: 1px solid #444;
$site-padding: 10px 0px 0px 0px;
$site-max-width: 1200px;

// Theme-based (light theme)
$light-site-hdrftr-bgcolor: #fff;
$light-site-hdrftr-fontcolor: #141414;

$light-site-main-bgcolor: #f0f0f0;
$light-site-main-fontcolor: #101010;

// Theme-based (dark theme)
$dark-site-hdrftr-bgcolor: #222;
$dark-site-hdrftr-fontcolor: #eee;

$dark-site-main-bgcolor: #555;
$dark-site-main-fontcolor: #fff;

$dark-site-active-color: yellow;

// ============== //
// Misc. rulesets //
// ============== //

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin: 0px;
}

// Headers of each sub-section in <main>
.site-main-header {
  background-color: lightblue;
  font-size: 15px;
  padding: 4px;
  text-align: center;

  @media all and (min-width: 1200px) {
    font-size: 20px;
  }
}
